{%extends "template.html"%}
{%block title%}Шашлык{%endblock%}
{%block content%}
<img src="/static/holiday.jpg">
<div style="margin-left:100px;margin-right:100px">
    <br>
    <div style='text-align: center;'>
        <h1>Шашлык</h1>
    </div>
    <br>
    <div style="background-color:#EDEDED; font-size:22px;" class="p-5">
        <p>
            Один из лучший поисковых систем для отдыха дружной компанией. Если куда поехать, то с помощью нашей высокотехнологичной системы вы сможете узнать лучшие места. Просто введите свое местоположение в поиск и нажмите кнопку отправки и вы получите лучшие места для вас.
        </p>
    </div>
</div>
{%endblock%}